<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Website</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            background: #f0eab3;
            color: blueviolet;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;}
    </style>
</head>
<body>
    <h1>Welcome, {{ name }}!</h1>
    <h2>Current time: {{ current_time }}</h2>
    <h2>Current working directory: {{ current_directory }}</h2>
</body>
</html>
